body {
    background-image: url("/static/images/background-brain.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    font-family:'ＭＳ 明朝',和文フォント;
}
h1 {
    font-size: 64px;
    color: white;
}

form {
    position: relative;
    top: 250px;
}
