<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/act.css" type="text/css">
    <title>act</title>
</head>
<body>
    <table width="100%">

        <tr>
            <td>
                <h1>日時  {{ a }}</h1>
            </td>
        </tr>

        <tr>
            <td>
                <img src="{{ b }}" >
            </td>
        </tr>

        <tr>
            <td>
                <h2>説明</h2>
                <h3>{{ c }}</h3>
            </td>
        </tr>

    </table>
</body>
</html>
