<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>666</title>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/devil.css">
    <script type="text/javascript" src="/static/js/devil666.js"></script>
</head>
<body>
    <h1 id="target1" style="display:none">6</h1>
    <h1 id="target2" style="display:none">6</h1>
    <h1 id="target3" style="display:none">6</h1>
    <h1 id="target4" style="display:none">そう悪魔の数字</h1>
    <img src="/static/images/seki.jpg" id="target5" style="display:none">
</body>
</html>
