<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- 参考リンク -->
    <!-- https://syossan.hateblo.jp/entry/20101121/1290302431 リンク張るやつ -->
    <!-- https://www.sejuku.net/blog/30245 ajaxのやつ -->
    <!-- https://www.sejuku.net/blog/32532 javascriptでjsonファイルを表示するやつ -->
    <!-- https://matome.naver.jp/odai/2148671836139759101 動画のアスペクト比 -->
    <meta charset="UTF-8">
    <title>Adav</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/hover.css">
    <link rel="stylesheet" href="/static/css/link_style.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/capture.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>

</head>
<body>
    <table width="100%">
        <tr>
            <td><h1 style="color:#FFFFFF;margin:0;padding:0;">AdavSystem</h1></td>
        </tr>
        <tr>
            <!-- Webカメラの表示 -->
            <td>
                <table class="link_table">
                    <tr><td><a href="/list" class="astyle" target="_blank">History</a></td></tr>
                </table>
                <!-- 【参考】https://www.keicode.com/script/align-vertical.php -->
                <!-- 【アイコン】https://material.io/tools/icons/?icon=videocam&style=round -->
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M17 10.5V7c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-3.5l2.29 2.29c.63.63 1.71.18 1.71-.71V8.91c0-.89-1.08-1.34-1.71-.71L17 10.5z"/>
                    </svg>
                    Live
                </p>
                <video id="myVideo" width="640" height="480" autoplay="1" ></video>
            </td>

            <!-- キャプチャした画像を表示 -->
            <!--<td valign="top" width="35%">-->

            <!-- TODO 今後のタスク -->
            <!-- TODO 詳細画像をクリックした際に新タブで詳細を表示する -->
            <td>
                <div>
                    <table id="top_btn">
                        <tr><td><a href="/list" class="astyle">History</a></td></tr>
                        <tr><td><a href="/monthagg" class="astyle" target="_blank">月毎集計</a></td></tr>
                        <tr><td><a href="/dayagg" class="astyle" target="_blank">日毎集計</a></td></tr>
                        <tr><td><a href="#" class="btn">リフレッシュ</a></td></tr>
                    </table>
                </div>
                <div class="scroll">
                    <table id="capture_table">
                        <tr><td><canvas id="canvas"></canvas></td></tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>

    <!-- 参考リンク -->
    <!-- https://syossan.hateblo.jp/entry/20101121/1290302431 リンク張るやつ -->
    <!-- https://www.sejuku.net/blog/30245 ajaxのやつ -->
    <!-- https://www.sejuku.net/blog/32532 javascriptでjsonファイルを表示するやつ -->

    <!-- https://matome.naver.jp/odai/2148671836139759101 動画のアスペクト比 -->
</body>
</html>
