<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- 参考リンク -->
    <!-- https://syossan.hateblo.jp/entry/20101121/1290302431 リンク張るやつ -->
    <!-- https://www.sejuku.net/blog/30245 ajaxのやつ -->
    <!-- https://www.sejuku.net/blog/32532 javascriptでjsonファイルを表示するやつ -->
    <!-- https://matome.naver.jp/odai/2148671836139759101 動画のアスペクト比 -->
    <meta charset="UTF-8">
    <title>Adav</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/hover.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/capture.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>

</head>
<body>
    <table width="100%">
        <!-- <tr><h1>Adavシステム</h1></j1></tr> -->
        <tr>
            <!-- Webカメラの表示 -->
            <td valign="top">
                <video id="myVideo" width="800" height="600" autoplay="1" ></video>
            </td>

            <!-- キャプチャした画像を表示 -->
            <!--<td valign="top" width="35%">-->

            <!-- TODO 今後のタスク -->
            <!-- TODO 詳細画像をクリックした際に新タブで詳細を表示する -->
            <td>
                <div>
                    <table id="capture_table">
                        <tr><td><button>画像をリフレッシュ</button></td></tr>
                        <a href="/list">テスト用ページに飛ぶぜ</a>
                        <tr><td><canvas id="canvas"></canvas></td></tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>

    <!-- 参考リンク -->
    <!-- https://syossan.hateblo.jp/entry/20101121/1290302431 リンク張るやつ -->
    <!-- https://www.sejuku.net/blog/30245 ajaxのやつ -->
    <!-- https://www.sejuku.net/blog/32532 javascriptでjsonファイルを表示するやつ -->

    <!-- https://matome.naver.jp/odai/2148671836139759101 動画のアスペクト比 -->
</body>
</html>
