<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- 参考リンク -->
    <!-- https://syossan.hateblo.jp/entry/20101121/1290302431 リンク張るやつ -->
    <!-- https://www.sejuku.net/blog/30245 ajaxのやつ -->
    <!-- https://www.sejuku.net/blog/32532 javascriptでjsonファイルを表示するやつ -->
    <!-- https://matome.naver.jp/odai/2148671836139759101 動画のアスペクト比 -->
    <meta charset="UTF-8">
    <title>Adav</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/capture.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>

</head>
<body>
    <table width="100%">
        <tr>
            <!-- Webカメラの表示 -->
            <td valign="top">
                <video id="myVideo" width="800" height="600" autoplay="1" ></video>
                <script type="text/javascript">
                    //ウェブカメラで撮影
                    //TODO htmlへのスクリプトの埋め込みは動くと思われるが、jsファイルに書き上げた場合うまく動かない

                    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || window.navigator.mozGetUserMedia;
                    window.URL = window.URL || window.webkitURL;

                    var video = document.getElementById('myVideo');
                    var localStream = null;
                    navigator.getUserMedia({video: true, audio: false},
                    function(stream) {
                        console.log(stream);
                        //video.src = window.URL.createObjectURL(stream);

                        //createObjectURLについて
                        //https://www.fxsitecompat.com/ja/docs/2018/url-createobjecturl-no-longer-accepts-mediastream-as-argument/

                        video.srcObject = stream
                        setInterval(function() {
                        var canvas = document.getElementById('canvas');

                        //canvasの描画モードを2sに
                        var ctx = canvas.getContext('2d');
                        var img = document.getElementById('img');

                        //videoの縦幅横幅を取得
                        var w = video.offsetWidth;
                        var h = video.offsetHeight;

                        //同じサイズをcanvasに指定
                        canvas.setAttribute("width", w);
                        canvas.setAttribute("height", h);

                        //canvasにコピー
                        ctx.drawImage(video, 0, 0, w, h);

                        //imgにjpeg形式で書き出し
                        var base64 = this.canvas.toDataURL('image/jpeg');

                        //imgにpng形式で書き出し
                        //var base64 = this.canvas.toDataURL('image/png');

                        $.ajax({
                            type: 'POST',
                            url: '/capture',
                            data: base64,
                            contentType: 'image/jpeg',

                            //サーバからの返送データ(json)を受け取る
                            success: function(data) {
                                console.log("通信成功");
                                console.log("dataの値:"+data);
                                if(data !== ""){
                                    var bar_list = $.parseJSON(data);
                                    //jsonの要素数分、リストに追加
                                    //for (var i in bar_list) {
                                    //console.log(bar_list[i])
                                    //canvasと同じ横と縦をセット
                                    var html= "<tr id='capture'><td><form action='/act' method='post' target='_blank'><input type='image' src='" + bar_list[0] + "' width='320' height='240' value='"+ bar_list[1] + "'></form></td></tr>";
                                    $("#capture_table").append(html);
                                    console.log("キーの値"+bar_list[1]);
                                }else{
                                console.log("判定の結果正常です。");
                                }
                            }
                         });
                        }, 5000);

                    },function(err) { // for error case
                        console.log(err);
                    });
                </script>
            </td>

            <!-- キャプチャした画像を表示 -->
            <!--<td valign="top" width="35%">-->

            <!-- TODO 今後のタスク -->
            <!-- TODO 詳細画像をクリックした際に新タブで詳細を表示する -->
                <td>
                    <div>
                        <table id="capture_table">
                            <tr><td><button>画像をリフレッシュ</button></td></tr>
                            <tr><td><canvas id="canvas"></canvas></td></tr>
                        </table>
                    </div>
                </td>


        </tr>
    </table>

    <!-- 参考リンク -->
    <!-- https://syossan.hateblo.jp/entry/20101121/1290302431 リンク張るやつ -->
    <!-- https://www.sejuku.net/blog/30245 ajaxのやつ -->
    <!-- https://www.sejuku.net/blog/32532 javascriptでjsonファイルを表示するやつ -->

    <!-- https://matome.naver.jp/odai/2148671836139759101 動画のアスペクト比 -->
</body>
</html>
